
.container{
	width: 700px;
	margin:0px auto;
	padding:70px;
	text-align: center;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 800px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 600px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}