/* Fonts */


@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Work+Sans&display=swap');

/*Component files*/

@import url("container.css");
@import url("banner.css");
@import url("btn-blue.css");
@import url("card.css");
@import url("topnav.css");
/* General styles*/

h1,h2,h3{
	font-family: 'Poppins', sans-serif;
	font-weight:lighter;
}
body{
	font-family: 'Work Sans', sans-serif;
	font-size: 18px;
	margin:0px;
	text-align: center;

}
a{
	text-decoration: none;
}
